body {
  font-size: 18px;
}

form {
  margin: 100px 0;
}

.validations span {
  display: inline-block;
  border: 1px solid #ddd;
  color: #aaa;
  border-radius: 3px;
  padding: 2px 10px;
  font-size: 16px;
  transition: background 200ms ease-out, border-color 200ms ease-out;
}

.validations span.active-error {
  color: white;
  background: #DD514C;
  border-color: #DD514C;
}
.validations span.active-success {
  color: white;
  background: #5EB95E;
  border-color: #5EB95E;
}

.validations .error-messages {
  margin-top: 10px;
  background: #f7f7f7;
  padding-top: 10px;
  padding-bottom: 10px;
}
